body{
    border: 2px solid red;
    max-width: 1500px;
    height: 1200px;
}
na{
    width: 100%;
}
.khung{
    width: 50%;
    float: left;
}
.khung>khung1{
    width: 25%;
}
.khung>khung1{
    width: 25%;
}